#blue-universe {
  font-size: 100px;
  font-weight: 500;
  color: #70c2ff;
  text-shadow:
    2px 2px 4px rgba(0,0,0,0.85),
    0 0 12px rgba(79,179,255,0.65),
    0 0 28px rgba(79,179,255,0.4);
  white-space: nowrap;
  position: absolute;
  top: -20px; /* moved up behind J&V's */
  left: 50%;
  transform: translateX(-50%) translateY(0); /* ensure proper layering */
  z-index: 9000;
  animation: blue-breathe 3s ease-in-out infinite alternate;
}